/* ---------------------------------------------
  Reset
--------------------------------------------- */

html {
  margin: 0 !important;
  padding: 0;
}

body {
  margin: 0 !important;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
}

div, span {
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-weight: normal;
}

div, span, p, pre, code, blockquote, q {
  margin: 0;
  padding: 0;
}

article, aside, figure, main, figcaption, footer, header, nav, section {
  display: block;
}

code, cite, dfn, em, strong, var {
  font-style: normal;
  font-weight: normal;
}

ins, del {
  text-decoration: none;
}

abbr, acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: top;
}

sub {
  vertical-align: baseline;
}

img {
  border: 0;
  vertical-align: bottom;
}

a {
  outline: 0;
  text-decoration: none;
  color: inherit;

  &:link, &:visited, &:hover, &:active {
    outline: 0;
    text-decoration: none;
    color: inherit;
  }
}

/* List--------------------------------------------- */

ul, ol, dl, dt, dd {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Table
--------------------------------------------- */

table {
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
}

tr, td, thead, tfoot, tbody {
  margin: 0;
  padding: 0;
}

th {
  margin: 0;
  padding: 0;
  font-weight: normal;
  text-align: left;
}

caption {
  font-weight: normal;
  text-align: left;
}

/* Form
--------------------------------------------- */

select, input, textarea, button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
  border: 0;
  margin: 0;
  padding: 0;
  background: none transparent;
  vertical-align: middle;
  font-size: inherit;
  color: inherit;
  box-sizing: content-box;
  font-weight: bold;
  cursor: pointer;
}

::-ms-expand, ::-ms-check, ::-ms-clear, select::-ms-expand {
  display: none;
}

input {
  &[type=radio], &[type=checkbox] {
    -moz-appearance: checkbox-container;
    width: 0;
    height: 0;
  }

  &[type="submit"], &[type="button"], &[type="text"], &[type="textarea"], &[type="email"], &[type="password"] {
    border-radius: 0;
    -webkit-box-sizing: content-box;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
  }

  &[type="submit"], &[type="button"] {
    outline: none;
  }

  &[type="submit"]::-webkit-search-decoration, &[type="button"]::-webkit-search-decoration, &[type="text"]::-webkit-search-decoration, &[type="textarea"]::-webkit-search-decoration, &[type="email"]::-webkit-search-decoration, &[type="password"]::-webkit-search-decoration {
    display: none;
  }

  // &[type="submit"]:focus, &[type="button"]:focus, &[type="text"]:focus, &[type="textarea"]:focus, &[type="email"]:focus, &[type="password"]:focus {
  //   outline-offset: -2px;
  // }

  &[type="submit"]:hover, &[type="button"]:hover {
    opacity: 0.8;
    filter: alpha(opacity = 80);
    -ms-filter: "alpha(opacity=80)";
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    zoom: 1;
  }
}

/* Clearfix
--------------------------------------------- */

.clearfix:after {
  clear: both;
  content: " ";
  display: block;
}

// body {
//   @include mq-up(sm) {
//       width: 100%;
//   }
//   @include mq-up(md) {
//       width: 100%;
//   }
//   @include mq-up(lg) {
//       width: 100%;
//   }
//   @include mq-up(xl) {
//       width: 100%;
//   }
// }